<div *ngIf="!hasAnyFeedSetup" class="promptMsg">
  <p>Yo Man! It Looks like you dont have any feeds set up.</p>
  <p>Add a feed from the left hand sidebar.</p>
</div>

<div *ngIf="!feed && hasAnyFeedSetup" class="promptMsg">
  <p>Wussup! Select a feed from left hand side to see its articles.</p>
</div>

<p *ngIf="isFetching">Loading feed data....</p>

<p *ngIf="hasErrorFetchingFeedData">There was an error fetching the feed data.</p>

<ul *ngIf="!isFetching">
  <li *ngFor="let feedItem of feedItems">{{feedItem.title}}</li>
</ul>
